# S02T01: PrÃ© processamento dos dados

## ðŸ“š Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pickle

## ðŸŽ² Carregando os dados

In [7]:
DATASET_PATH = 'C://Users//alexw//Documents//UFPI//Sistemas_Inteligentes//21-04-01_visualization_pre_processing//'
DATASET_NAME = 'covid-piaui.csv'

In [8]:
def load_data(dataset_path=DATASET_PATH, dataset_name=DATASET_NAME):
    csv_path = os.path.join(dataset_path, dataset_name)
    return pd.read_csv(csv_path)

In [9]:
covid = load_data(DATASET_PATH,DATASET_NAME)
covid = covid.drop(["city_ibge_code", "is_last"], axis=1)
covid

,date,state,city,place_type,confirmed,deaths,order_for_place,estimated_population_2019,estimated_population,confirmed_per_100k_inhabitants,death_rate,longitude,latitude
0,21/03/2021,PI,ACAUA,city,151,1,292,7084,7102,212616164,66,-41.083638,-8.220787
1,21/03/2021,PI,AGRICOLANDIA,city,100,0,284,5139,5131,194893783,0,-42.659183,-5.795502
2,21/03/2021,PI,AGUA BRANCA,city,1165,50,333,17411,17470,666857470,429,-42.635131,-5.893266
3,21/03/2021,PI,ALAGOINHA DO PIAUI,city,238,9,298,7651,7665,310502283,378,-40.934635,-7.008175
4,21/03/2021,PI,ALEGRETE DO PIAUI,city,377,4,280,4915,4918,766571777,106,-40.857863,-7.245349
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/03/2021,PI,VARZEA BRANCA,city,84,5,300,4947,4938,170109356,595,-42.969445,-9.236541
220,21/03/2021,PI,VARZEA GRANDE,city,290,0,331,4391,4386,661194710,0,-42.253102,-6.542948
221,21/03/2021,PI,VERA MENDES,city,133,2,315,3077,3080,431818182,150,-41.479737,-7.602849
222,21/03/2021,PI,VILA NOVA DO PIAUI,city,108,1,323,2971,2952,365853659,93,-40.937801,-7.141046
223,21/03/2021,PI,WALL FERRAZ,city,321,3,276,4462,4471,717960188,93,-41.908954,-7.235779

In [10]:
covid_target = covid["deaths"].copy()
covid = covid.drop("deaths", axis=1) 
covid

,date,state,city,place_type,confirmed,order_for_place,estimated_population_2019,estimated_population,confirmed_per_100k_inhabitants,death_rate,longitude,latitude
0,21/03/2021,PI,ACAUA,city,151,292,7084,7102,212616164,66,-41.083638,-8.220787
1,21/03/2021,PI,AGRICOLANDIA,city,100,284,5139,5131,194893783,0,-42.659183,-5.795502
2,21/03/2021,PI,AGUA BRANCA,city,1165,333,17411,17470,666857470,429,-42.635131,-5.893266
3,21/03/2021,PI,ALAGOINHA DO PIAUI,city,238,298,7651,7665,310502283,378,-40.934635,-7.008175
4,21/03/2021,PI,ALEGRETE DO PIAUI,city,377,280,4915,4918,766571777,106,-40.857863,-7.245349
...,...,...,...,...,...,...,...,...,...,...,...,...
219,21/03/2021,PI,VARZEA BRANCA,city,84,300,4947,4938,170109356,595,-42.969445,-9.236541
220,21/03/2021,PI,VARZEA GRANDE,city,290,331,4391,4386,661194710,0,-42.253102,-6.542948
221,21/03/2021,PI,VERA MENDES,city,133,315,3077,3080,431818182,150,-41.479737,-7.602849
222,21/03/2021,PI,VILA NOVA DO PIAUI,city,108,323,2971,2952,365853659,93,-40.937801,-7.141046
223,21/03/2021,PI,WALL FERRAZ,city,321,276,4462,4471,717960188,93,-41.908954,-7.235779

## Tratando os dados faltantes

In [11]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date                            224 non-null    object
 1   state                           224 non-null    object
 2   city                            224 non-null    object
 3   place_type                      224 non-null    object
 4   confirmed                       224 non-null    int64
 5   order_for_place                 224 non-null    int64
 6   estimated_population_2019       224 non-null    int64
 7   estimated_population            224 non-null    int64
 8   confirmed_per_100k_inhabitants  224 non-null    int64
 9   death_rate                      224 non-null    int64
 10  longitude                       224 non-null    float64
 11  latitude                        224 non-null    float64
dtypes: float64(2), int64(6), object(4)
memory usage: 21.1+ KB

In [12]:
# housing_t = housing.dropna(subset=["total_bedrooms"])

In [13]:
# housing_t.info()

In [14]:
covid_t = covid.drop(['date', 'state', 'city', 'place_type'], axis=1)
covid_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   confirmed                       224 non-null    int64
 1   order_for_place                 224 non-null    int64
 2   estimated_population_2019       224 non-null    int64
 3   estimated_population            224 non-null    int64
 4   confirmed_per_100k_inhabitants  224 non-null    int64
 5   death_rate                      224 non-null    int64
 6   longitude                       224 non-null    float64
 7   latitude                        224 non-null    float64
dtypes: float64(2), int64(6)
memory usage: 14.1 KB

## Tratando os dados categÃ³ricos

In [20]:
from sklearn.preprocessing import LabelEncoder
#covid_category_date = covid['date']
#covid_category_state = covid['state']
#covid_category_place_type = covid['place_type']
covid_category_city = covid['city']

le = LabelEncoder()

# covid_category_date_le = le.fit_transform(covid_category_date)
# covid_category_state_le = le.fit_transform(covid_category_state)
# covid_category_place_type_le = le.fit_transform(covid_category_place_type)
covid_category_city_le = le.fit_transform(covid_category_city)

In [21]:
# date = pd.DataFrame(covid_category_date_le,columns=['date'])
# state = pd.DataFrame(covid_category_state_le,columns=['state'])
# place_type = pd.DataFrame(covid_category_place_type_le,columns=['place_type'])
city = pd.DataFrame(covid_category_city_le,columns=['city'])

covid_encoded1 = pd.concat([covid_t,city], axis=1)
covid_encoded1
# covid_encoded1.to_csv('NOVO_covid-piaui.csv')

,confirmed,order_for_place,estimated_population_2019,estimated_population,confirmed_per_100k_inhabitants,death_rate,longitude,latitude,city
0,151,292,7084,7102,212616164,66,-41.083638,-8.220787,0
1,100,284,5139,5131,194893783,0,-42.659183,-5.795502,1
2,1165,333,17411,17470,666857470,429,-42.635131,-5.893266,2
3,238,298,7651,7665,310502283,378,-40.934635,-7.008175,3
4,377,280,4915,4918,766571777,106,-40.857863,-7.245349,4
...,...,...,...,...,...,...,...,...,...
219,84,300,4947,4938,170109356,595,-42.969445,-9.236541,219
220,290,331,4391,4386,661194710,0,-42.253102,-6.542948,220
221,133,315,3077,3080,431818182,150,-41.479737,-7.602849,221
222,108,323,2971,2952,365853659,93,-40.937801,-7.141046,222
223,321,276,4462,4471,717960188,93,-41.908954,-7.235779,223

In [22]:
covid_encoded1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   confirmed                       224 non-null    int64
 1   order_for_place                 224 non-null    int64
 2   estimated_population_2019       224 non-null    int64
 3   estimated_population            224 non-null    int64
 4   confirmed_per_100k_inhabitants  224 non-null    int64
 5   death_rate                      224 non-null    int64
 6   longitude                       224 non-null    float64
 7   latitude                        224 non-null    float64
 8   city                            224 non-null    int32
dtypes: float64(2), int32(1), int64(6)
memory usage: 15.0 KB

## âž— Dividindo os dados em treino e teste

In [23]:
X_train, X_test, y_train, y_test = train_test_split(covid_encoded1, covid_target, test_size = 0.2,random_state=1, shuffle=True)

In [24]:
print(X_test.shape)

(45, 9)

In [25]:
print(X_train.shape)

(179, 9)

In [26]:
print(y_test.shape)

(45,)

In [27]:
print(y_train.shape)

(179,)

## ðŸ§® Feature Scaling

In [28]:
#z = (x - u) / s
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [29]:
print(X_train)

[[ 0.3713979   1.29223314  0.31077078 ... -0.21686346 -1.24629537
   1.37241357]
 [-0.16347942 -1.72880664 -0.15831705 ... -0.49336498 -1.27271502
   1.0314961 ]
 [-0.1453741   0.30948526 -0.17956877 ...  0.87598036 -0.45567566
   1.62035355]
 ...
 [-0.13381752  0.12749491 -0.11858828 ...  0.01090322 -1.42531827
  -0.68858749]
 [-0.13709188 -0.12729157 -0.18090184 ...  0.46610579  0.84109346
   0.38065366]
 [-0.09452513 -0.01809736 -0.09947568 ...  1.216561    0.82653553
  -1.23095619]]

In [30]:
print(X_test)

[[-0.10049603 -2.27477768 -0.17791017 -0.17758065  2.64757171 -0.89961874
   1.49260828 -0.30176321 -0.48713626]
 [-0.10299995 -0.23648578 -0.09815811 -0.09809258 -0.01244601 -0.34682317
   0.59701384  1.48378756 -1.27744494]
 [-0.07064151  0.01830071 -0.0507409  -0.05054181  0.10959139 -0.7025351
  -1.66651363 -1.81493935 -0.76606874]
 [-0.14826325 -0.67326262 -0.15185318 -0.15171267 -0.67982785  0.87413402
   0.56946895  1.12817657 -0.22370004]
 [-0.12784661 -0.30928192 -0.15839455 -0.15813719  0.28072999 -0.94768792
  -0.34297579  0.65392374 -0.71957999]
 [-0.09645122 -1.00084524 -0.14289367 -0.14258551  1.03963937 -0.9140395
   0.02156805  1.84749498 -0.16171504]
 [-0.1492263  -1.58321436 -0.15281424 -0.15276283 -0.70557559  0.10983405
   0.77062357 -0.61231789 -0.84354998]
 [-0.16559813 -0.12729157 -0.17209734 -0.1718202  -1.28385215  0.55207051
   0.04951671 -0.0030445  -1.1999637 ]
 [-0.14017364  0.30948526 -0.12024687 -0.12009967 -0.72006599  1.23945979
   0.72037637 -0.09468179 -0.67309124]
 [-0.09837732 -0.96444717 -0.15107814 -0.15104859  1.25572915 -0.65446592
   1.43646221 -0.25557347 -1.7423324 ]
 [ 0.93593712  1.25583507  0.98524536  0.98425486  1.13090704 -0.2506848
   0.88581331 -0.16379233  0.65958613]
 [-0.13998103  0.41867947 -0.13360864 -0.13335026 -0.5932938  -1.16399924
   1.07737111  1.59530297  1.13996984]
 [-0.02133341  0.01830071  0.0908597   0.09042713 -0.17805172 -0.54390681
   1.17578264 -0.75713703  0.59760114]
 [ 0.1997826   0.96465051  0.1677906   0.16687282  1.21222892 -0.31317474
   0.07212889  1.86272849  0.03973619]
 [ 0.01988508 -0.01809736 -0.00476527 -0.00498327  0.97074501 -0.48622379
   0.23791732  1.83346264 -0.17721129]
 [-0.15770113  1.18303893 -0.139995   -0.13972845 -1.12245712  1.62401324
   0.72684305  2.0143914  -1.32393368]
 [-0.1432554  -1.91079698 -0.18525759 -0.18499357  0.38057417 -0.49583763
  -1.57108173 -0.10241889  0.75256363]
 [-0.15770113 -1.83800084 -0.15654995 -0.15645384 -1.01563292  0.230007
  -1.11402882 -1.45885204 -0.39415877]
 [-0.12996532 -1.40122401 -0.1382744  -0.13852385 -0.20106337 -0.71214894
   1.11840182 -0.64229684 -0.27018878]
 [-0.07757547  0.81905824  0.05833884  0.05807284 -0.60346701 -0.37085776
   1.6523996  -0.02459564  0.69057863]
 [ 1.7816866   1.91100032  2.14557974  2.14331053  0.8644324  -0.14973953
   0.60700812  2.17475246  0.53561615]
 [-0.07314544  0.78266017 -0.08788102 -0.08774538  0.50592295 -0.88039107
   0.93250135 -1.0056494   0.78355612]
 [-0.1274614   1.32863121 -0.05805732 -0.05767674 -0.81238575  0.10983405
  -0.79540784 -1.39261066 -1.01400871]
 [-0.15404154 -1.11003945 -0.1801268  -0.17978908 -0.51077255 -0.07282884
  -2.56840891 -1.8141826   1.09348109]
 [ 0.15201537  1.18303893  0.38869374  0.38839544 -0.0200374   0.03773028
   0.19494886  1.61936673 -0.59561   ]
 [-0.15192284 -1.25563173 -0.16602099 -0.16596708 -0.64862844  0.29249694
   0.31244227  0.15105434 -1.52538492]
 [-0.15365632  0.85545631 -0.1277028  -0.12785234 -1.05572219  0.43670448
  -0.07828914 -0.25480496  1.07798485]
 [-0.10242213  0.01830071 -0.06317261 -0.0628349  -0.33719805 -0.08244267
   0.12919967  1.29711768 -1.21545994]
 [-0.04772095  1.18303893  0.24258238  0.24307141 -0.79712945  0.7876095
   0.709397    2.18695058  0.02423994]
 [-0.09645122  0.16389298 -0.13514322 -0.13487917  0.82107723 -0.66888668
   1.28023635 -0.19436402 -1.12248245]
 [ 0.53684968  0.81905824  0.50229974  0.50170495  1.30103467 -0.26029864
   0.14089466  1.42486851 -1.50988867]
 [-0.13362491  0.05469877 -0.16040967 -0.16023752  0.0829664   0.32133844
   0.01004069  0.52194361  0.55111239]
 [-0.13882537  0.56427175 -0.15675146 -0.15677816 -0.21773363  0.27326926
  -1.29481904 -0.18501771  0.10172118]
 [-0.10126647 -0.63686455 -0.12795081 -0.12775968  0.50576119 -0.23626405
   0.31368152  1.2890078  -1.29294119]
 [-0.12437964  0.63706789 -0.13188804 -0.13174413 -0.12521255  0.02811644
   0.89789766  1.78142543 -0.90553497]
 [-0.15981984 -1.6560105  -0.16719906 -0.16757322 -1.01682535  1.3211774
  -0.34125525 -0.79387131 -1.26194869]
 [-0.10126647 -1.43762208 -0.17822019 -0.17804396  2.64095098  0.03292336
  -1.5726121  -0.2410245  -1.63385866]
 [-0.12919488 -0.0908935  -0.157511   -0.15742679  0.20446289 -0.50064454
   1.01783804 -0.09296902 -1.35492618]
 [-0.14190713 -0.52767034 -0.11745671 -0.11731983 -0.78844772 -0.84674264
   1.23297599 -0.80155188 -1.80431739]
 [-0.1611681   0.63706789 -0.18925682 -0.18910156 -0.80613165 -0.2218433
   0.24000198  0.51855615  1.31042857]
 [-0.017096    0.67346596  0.09206877  0.09209504 -0.1460522   0.15790323
   0.17595621 -0.87323212  1.20195483]
 [-0.16193854  0.45507754 -0.16921417 -0.16922568 -1.10942141 -0.14012569
  -0.10681191 -0.39419531  1.23294733]
 [-0.14807064  0.70986403 -0.15986714 -0.16023752 -0.55723929  0.85490635
  -0.21582068  0.09257916 -0.50263251]
 [-0.09471774  0.7462621  -0.12215348 -0.12175213  0.57120489 -0.55832756
   0.29415171  1.33200039 -1.37042243]
 [-0.127654    0.05469877 -0.05227548 -0.05208617 -0.83995555  2.47003082
  -1.34276347 -1.87284472 -1.55637741]]

## ðŸ’¾ Salvando os conjuntos em pickle

In [31]:
pickle.dump(X_train, open('C://Users//alexw//Documents//UFPI//Sistemas_Inteligentes//PICKLES//X_train.pickle', 'wb'))
pickle.dump(X_test, open('C://Users//alexw//Documents//UFPI//Sistemas_Inteligentes//PICKLES//X_test.pickle', 'wb'))
pickle.dump(y_train, open('C://Users//alexw//Documents//UFPI//Sistemas_Inteligentes//PICKLES//y_train.pickle', 'wb'))
pickle.dump(y_test, open('C://Users//alexw//Documents//UFPI//Sistemas_Inteligentes//PICKLES//y_test.pickle', 'wb'))